@{
    ViewData["Title"] = Resources.Global.App_Name;
}

<div class="text-center">
    <h1 class="display-4 mt-5">@Resources.Home.Greeting_Title <b>@Resources.Global.App_Name!</b></h1>
    <p>@Resources.Home.Greeting</p>
    <button class="btn btn-success" onclick="location.href = '@Url.Action("Add", "Borrow")'">@Resources.Home.Add_Borrow</button>
</div>
