@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4 mt-5">@Localizer["Greeting_Title"] <b>@Localizer["App_Name"]</b>!</h1>
    <p>@Localizer["Greeting"]</p>
    <button class="btn btn-success" onclick="location.href = '@Url.Action("Add", "Borrow")'">@Localizer["Add_Borrow"]</button>
</div>
