@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@model BookViewModel
@{
    ViewData["Title"] = Model.Title;
    var borrows = ViewData["Borrows"] as List<BorrowViewModel>;
    ReaderViewModel reader = new ReaderViewModel();
    BorrowViewModel currentBorrow = new BorrowViewModel(); 
    if(Model.IsBorrowed)
    {
        currentBorrow = borrows.FirstOrDefault(x => !x.IsReturned);
        reader = currentBorrow.Reader;
    }

    var borrowsHistory = borrows.Where(x => x.IsReturned).ToList();
}


<h1>
    @Model.Title
    <small class="text-muted fw-light">#@Model.Id</small>
</h1> 
<h5>@Localizer["Author"]: <i class="fw-normal">@(Model.Author.FirstName + " " + Model.Author.LastName)</i></h5>
<h5>@Localizer["Publication_Year"]: <i class="fw-normal">@Model.PublishYear</i></h5>
<a class="text-decoration-none" onclick="location.href = '@Url.Action("Delete", "Book", new {bookId = Model.Id})'"><small class="text-danger fw-bold">@Localizer["Delete"]</small></a>
<hr />

    @if(Model.IsBorrowed)
    {
        <p>@Localizer["Is_Borrowed_Info"] <text class="text-danger fw-bold">@Localizer["Borrowed_Info_1"]</text>
        @Localizer["Borrowed_Info_2"] <b>@(reader.FirstName + " " + reader.LastName)</b> @Localizer["Borrowed_Info_3"] @currentBorrow.BorrowDate.ToString("dd MMMM yyyy") 
        @Localizer["Borrowed_Info_4"] @currentBorrow.ReturnDeadline.ToString("dd MMMM yyyy").</p>
    }
    else
    {
        <p>@Localizer["Is_Borrowed_Info"] <text class="text-success fw-bold">@Localizer["Unborrowed_Info"]</text>.</p>
    }

<h4>@Localizer["History_Of_Borrows"]</h4>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Reader"]</th>
            <th>@Localizer["Borrow_Date"]</th>
            <th>@Localizer["Return_Deadline"]</th>
            <th>@Localizer["Return_Date"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var borrow in borrowsHistory)
        {
            <tr class="not-clickable">
                <td>@(borrow.Reader.FirstName + " " + borrow.Reader.LastName)</td>
                <td>@borrow.BorrowDate.ToString("dd MMMM yyyy")</td>
                <td>@borrow.ReturnDeadline.ToString("dd MMMM yyyy")</td>
                <td>@(((DateTime)borrow.ReturnDate).ToString("dd MMMM yyyy"))</td>
            </tr>
        }
    </tbody>
</table>

@if (borrowsHistory.Count == 0)
{
    <p>@Localizer["Nothing_To_Show_Here"]</p>
}