@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@model List<BookViewModel>
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Books"]</h1>

<hr />

<a class="text-success fw-bold text-decoration-none" asp-controller="Book" asp-action="Add"><small>+ @Localizer["Add_New"]</small></a>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Book_Title"]</th>
            <th>@Localizer["Author"]</th>
            <th>@Localizer["Publication_Year"]</th>
            <th>@Localizer["Status"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Book", new {bookId = book.Id})'">
                <td>@book.Title</td>
                <td>@(book.Author.FirstName + " " + book.Author.LastName)</td>
                <td>@book.PublishYear</td>
                <td>
                    @(book.IsBorrowed ? Localizer["Borrowed"] : Localizer["Unborrowed"])
                </td>
            </tr>
        }
    </tbody>
</table>

@if(!Model.Any())
{
    <p>@Localizer["Nothing_To_Show_Here"]</p>
}