@model List<BookViewModel>
@{
    ViewData["Title"] = Resources.Book.List_Title;
}

<h1>@Resources.Global.Books</h1>

<hr />

<a class="text-success fw-bold text-decoration-none" asp-controller="Book" asp-action="Add"><small>+ @Resources.Common.Add_New</small></a>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.Book.Title</th>
            <th>@Resources.Book.Author</th>
            <th>@Resources.Book.Publication_Year</th>
            <th>@Resources.Book.Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Book", new {bookId = book.Id})'">
                <td>@book.Title</td>
                <td>@(book.Author.FirstName + " " + book.Author.LastName)</td>
                <td>@book.PublishYear</td>
                <td>
                    @(book.IsBorrowed ? Resources.Book.Borrowed : Resources.Book.Unborrowed)
                </td>
            </tr>
        }
    </tbody>
</table>

@if(!Model.Any())
{
    <p>@Resources.Common.Nothing_To_Show_Here</p>
}