@model List<BookViewModel>
@{
    ViewData["Title"] = "Books list";
}

<h1>Books</h1>

<hr />

<a class="text-success fw-bold text-decoration-none" asp-controller="Book" asp-action="Add"><small>+ Add new</small></a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication year</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Book", new {bookId = book.Id})'">
                <td>@book.Title</td>
                <td>@(book.Author.FirstName + " " + book.Author.LastName)</td>
                <td>@book.PublishYear</td>
                <td>
                    @(book.IsBorrowed ? "Borrowed" : "Unborrowed")
                </td>
            </tr>
        }
    </tbody>
</table>

@if(!Model.Any())
{
    <p>Nothing to show here!</p>
}