@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@model List<ReaderViewModel>
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<hr />

<a class="text-success fw-bold text-decoration-none" asp-controller="Reader" asp-action="Add"><small>+ @Localizer["Add_New"]</small></a>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["First_Name"]</th>
            <th>@Localizer["Last_Name"]</th>
            <th>@Localizer["Birthdate"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reader in Model)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Reader", new {readerId = reader.Id})'">
                <td>@reader.FirstName</td>
                <td>@reader.LastName</td>
                <td>@reader.Birthdate.ToString("dd MMMM yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@if(!Model.Any())
{
    <p>@Localizer["Nothing_To_Show_Here"]</p>
}
