@model List<ReaderViewModel>
@{
    ViewData["Title"] = Resources.Reader.List_Title;
}

<h1>@Resources.Reader.List_Title</h1>

<hr />

<a class="text-success fw-bold text-decoration-none" asp-controller="Reader" asp-action="Add"><small>+ @Resources.Common.Add_New</small></a>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.Common.FirstName</th>
            <th>@Resources.Common.LastName</th>
            <th>@Resources.Reader.Birthdate</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reader in Model)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Reader", new {readerId = reader.Id})'">
                <td>@reader.FirstName</td>
                <td>@reader.LastName</td>
                <td>@reader.Birthdate.ToString("dd MMMM yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@if(!Model.Any())
{
    <p>@Resources.Common.Nothing_To_Show_Here</p>
}
